html * {
    margin: 0;
    padding: 0;
    font-family: Inter;
}

a {
    text-decoration: none;
    font-size: 14px;
    color: #787885;

}

span {
    color: #787885;
}

li {
    list-style: none;
    cursor: pointer;
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

label:hover {
    opacity: 0.6;
}

.wrapper {
    width: 1493px;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    padding-top: 5px;
}

.header-text1 {
    font-size: 20px;
    color: #5A5B6A;
    /* padding: 0 25px; */
    padding: 10px 10px 10px 10px;
}

.header-text1:hover {
    opacity: 0.6;
}

.header-text2:hover {
    opacity: 0.6;
}

.header-text3:hover {
    opacity: 0.6;
}

.header-text2 {
    font-size: 20px;
    color: #5A5B6A;
    
    padding: 10px 10px 10px 30px;
    /* margin-right: 50px; */
    margin-right: 100px;
}

.header-avatar {
    padding: 0px 25px 0 24px;
    /* padding: 0 25px; */
    cursor: pointer;
}

.header input {
    width: 576px;
    height: 48px;
    background-color: #EDEDF0;
    border-radius: 50px;
    padding: 0px 45px;
    border-color: transparent;
    font-size: 20px;
    outline: none;
    font-weight: 400;
}

.container-inp {
    margin: 0 30px 0 0;
    position: relative;
    
}

input::placeholder {
    color: black;
    font-size: 20px;
}

.headerLogo1 {
    position: absolute;
    width: 17.5px;
    margin-top: 17px;
    margin-left: -655px;
    cursor: pointer;
}

.headerLogo2 {
    position: absolute;
    width: 17.5px;
    margin-top: 17px;
    margin-left: -35px;
    cursor: pointer;
}

.header-text3 {
    padding: 10px 48px 10px 0;
    font-size: 20px;
    color: #2264D1;
    margin-right: 65px;
    /* padding: 10px 0; */
}

.button {
    width: 105px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #9DC2FF;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #fff;
    color: #2264D1;
    font-size: 20px;
    margin-right: 12px;
}

.button-header {
    font-family: Quicksand;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105px;
    height: 40px;
    border: 1px solid #9DC2FF; 
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #fff;
    color: #2264D1;
    font-size: 20px;
    margin-right: 12px;
    cursor: pointer;
    font-weight: 700;
}
.button-header:hover{
    opacity: 0.6
}

.container-for-butHeader {
    display: flex;
    /* margin: 0 15px 0 0; */
}

.container-for-butHeader button {
    font-weight: 700;
}

.notofocation {
    position: relative;
}

.red-circle {
    font-family: Quicksand;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #F44336;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    left: 77%;
    top: -5px;
    color: #fff;
    font-size: 14px;
    z-index: 1000;
}
.avatar-icon{
    max-width: 40px ;
    max-height: 40px ;
}

.header-button-active {
    font-family: Quicksand;
    border-radius: 4px;
    background-color: #fff;
    border-color: transparent;
    color: #2264D1;
    font-size: 20px;
    margin-right: 12px;
    box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2), 0px 4px 8px rgba(41, 121, 255, 0.2);
}

.line-under-header {
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    margin-bottom: 34px;
}

.info-container-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 6px 15px;

}

.info-container-element-active {
    background-color: #EBF2FF;
    color: #2979FF;
}

.info-container-element-active>a>span>svg {
    fill: #2979FF;
}

.info-container-element:hover {
    color: #2979FF;
}

.info-container-element:hover>a>span>svg {
    fill: #2979FF;
}

.info-container-element:hover>a {
    color: #2979FF;
}

.info-container-element-active>a {
    color: #2979FF;
}

.iconImg {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
}

.main-container {
    width: 100%;
    padding-top: 2px;
    height: auto;
    display: flex;
    margin-bottom: 45px;
}

.aside {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}

.main-part {
    max-height: 1612px;
    padding: 16px 16px 0 16px;
    box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
    border-radius: 4px;
}

.drop-menu1 {
    outline: none;
    width: 136px;
    height: 36px;
    border-radius: 4px;
    margin-right: 5px;
    font-size: 14px;
    font-weight: 500;
    color:#19191D;
    padding: 5px;
    border: 1px solid #5A5B6A;
    display: block;
    margin: 0;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2210%22%20height%3D%225%22%20viewBox%3D%220%200%2010%205%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M0%200L5%205L10%200L0%200Z%22%20fill%3D%22%23787885%22%2F%3E%3C%2Fsvg%3E ');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    padding-left: 10px;
    cursor: pointer;
}

.drop-menu2 {
    min-width: 112px;
    height: 36px;
    border-radius: 3px;
    border-color: #B4B4BB;
    margin: 0 10px;
    font-size: 14px;
    padding: 5px;
    color: #787885;
    cursor: pointer;
    outline: none;

    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2210%22%20height%3D%225%22%20viewBox%3D%220%200%2010%205%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M0%200L5%205L10%200L0%200Z%22%20fill%3D%22%23787885%22%2F%3E%3C%2Fsvg%3E ');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    padding-left: 10px;
}

.drop-menu2:hover {
    opacity: 0.6;
}

.drop-menu3:hover {
    opacity: 0.6;
}

.drop-menu3 {
    min-width: 152px;
    height: 36px;
    border-radius: 3px;
    border-color: #B4B4BB;
    font-size: 14px;
    color: #787885;
    cursor: pointer;
    outline: none;

    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2210%22%20height%3D%225%22%20viewBox%3D%220%200%2010%205%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M0%200L5%205L10%200L0%200Z%22%20fill%3D%22%23787885%22%2F%3E%3C%2Fsvg%3E ');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    padding-left: 10px;
}

.headetInMain {
    margin-bottom: 41px;
    display: flex;
    justify-content: space-between;
}
.background-color{
    display: flex;
    align-items: center;
    border-radius: 4px;
    background-color: #EBF2FF;
    margin-right: 35px;
}
.left-part-drop-menu {
    display: flex;
    justify-content: space-around;
}

.main-part-drop-menu {
    display: flex;
    justify-content: flex-end;
}

.choice-button {
    border-radius: 4px;
    border-color: transparent;
    background-color: #EBF2FF;
    color: #5A5B6A;
    cursor: pointer;
    text-align: center;
    padding: 6px 10px ;
}

.choice-button:hover {
    opacity: 0.6;
}

.sec {
    display: flex;
    align-items: center;
    border-radius: 4px;
    background-color: #EBF2FF;
    /* margin-left: 35px; */
    display: flex;
}

.choice-button2 {
    width: 68px;
    height: 37px;
    border-radius: 4px;
    border-color: transparent;
    background-color: #EBF2FF;
    color: #5A5B6A;
    cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
}

.choice-button-active {
    background-color: #fff;
    color: #2264D1;
    font-weight: 500;
    box-shadow: 0px 1px 2px rgba(27, 78, 163, 0.24), 0px 2px 4px rgba(41, 121, 255, 0.24);
    border-radius: 4px;
    border-color: transparent;
    cursor: pointer;
    text-align: center;
    padding:10px ;
}



.choice-button2:hover {
    opacity: 0.6;
}


.choice-button2-active {
    background-color: #fff;
    box-shadow: 0px 1px 2px rgba(27, 78, 163, 0.24), 0px 2px 4px rgba(41, 121, 255, 0.24);
    width: 68px;
    height: 37px;
    border-radius: 4px;
    border-color: transparent;
    color: #5A5B6A;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.choice-button2:hover svg {
    fill: #2979FF;
}

.choice-button2-active svg {
    fill: #2979FF;
}

.button-list {
    display: flex;
    margin-bottom: 15px;
}

.button-fromList {
    padding: 10px 15px;
    border-radius: 99px;
    border-color: transparent;
    background-color: #EDEDF0;
    color: #4A4B57;
    margin-right: 10px;
}
.button-fromList:first-child{
    padding-left: 0;
}

.button-fromList:hover {
    opacity: 0.6;
}

.button-fromList-active {
    background-color: #fff;
    color: black
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.red-block {
    width: 70px;
    height: 24px;
    background-color: #FDEDF2;
    border-radius: 4px;
    border-color: transparent;
    color: #C23564;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-weight: 400;
}

.card:hover {
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(59, 69, 123, 0.2), 0px 4px 8px rgba(92, 107, 192, 0.2);
}

.last-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 60px;
}

.card-width-info {
    width: 1114px;
    display: flex;
    justify-content: space-between;
}

.card-info {
    height: 156px;
    width: 361px;
    background-color: #EDEDF0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first-text {
    font-size: 20px;
    font-weight: 700;
    font-family: Quicksand;
    padding: 5px 0;
}

.all-list {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
}

.second-text {
    color: #5A5B6A;
    font-size: 14px;
}

footer {
    background-color: #F7F7FA;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.first-partF {
    width: 67%;
    height: 150px;
}

.second-partF {
    height: 150px;
    width: 30%;
}

.opacityP {
    font-size: 16px;
    color: #B1B1C3;
    margin-bottom: 25px;

}

.opacityP2 {
    font-size: 16px;
    color: #B1B1C3;
    margin-bottom: 20px;
}

.block-footer {
    width: 1129px;
    display: flex;
    padding: 30px 10% 0 10%;
    margin-bottom: 10px;
}

.little-textF {
    font-size: 16px;
    color: #1F1F1F;
    margin-bottom: 25px;
    cursor: pointer;
}

.last-contF {
    display: flex;
}

.mini-cont1 {
    width: 47%;
}

.bold-text {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}

.grey-text {
    font-size: 12px;
    color: #5A5B6A;
}

.container-textF {
    display: flex;
    margin-bottom: 27px;
}

.little-textF2 {
    margin-right: 43px;
    font-size: 16px;
    color: #1F1F1F;
    cursor: pointer;
}

.last-contF2 {
    display: flex;
}

.mini-cont1F {
    margin-right: 25px;
}
.img-in-footer:hover{
    opacity: 0.6;
}

.footerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    background-color: #EBF2FF;
    border-radius: 4px;
    border-color: transparent;
    color: #2264D1;
    font-weight: 700;
    margin: 0 40px 0 40px;
    cursor: pointer;
}

.footerButton:hover {
    opacity: 0.6;
}

.last-contF2 img {
    margin: 0 10px;
}

.grey-lineF {
    width: 100%;
    background-color: #E6E6EA;
    display: flex;
    align-items: center;

}

.wrapper-grey-line {
    padding: 0 11% 0 31%;
    display: flex;
    align-items: center;
}

.firstBlockF {
    height: 24px;
    width: 30px;
    display: flex;
    align-items: center;
    border-right: 1px solid grey;
}

.second-blockF {
    width: 340px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-right: 1px solid #D1D1E1;

}

.second-blockF button {
    width: 120px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #9DC2FF;
    background-color: transparent;
    color: #2264D1;
    cursor: pointer
}

.second-blockF button:hover {
    opacity: 0.6;
}

.second-blockF2 {
    width: 366px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-right: 1px solid #D1D1E1;
}

.second-blockF2 a {
    color: #1F1F1F;

}

.block-text-bottom a {
    margin-left: 10px;
}

.last-part-footer {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
    color: #B1B1C3;
}

.images {
    display: flex;
    width: 120px;
    justify-content: space-between;
    align-items: center;
}

.block-in-bottomF {
    width: 1140px;
    padding: 0 10% 0 620px;
    display: flex;
    justify-content: space-between;
}

.block-text-bottom {
    display: flex;
    justify-content: space-between;
}


.sub-footer-info {
    color: #B1B1C3;
    font-size: 12px;
}

.card {
    margin-bottom: 15px;
    padding: 10px;
    width: 23%;
    height: 472px;
    border-radius: 8px;
    box-sizing: border-box;
}

.image-card {
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-in-card {
    max-width: 227px;
    max-height: 224px;
}

.text-card1 {
    height: 90px;
    font-size: 16px;
    color: #19191D;
}

.price {
    font-size: 24px;
    font-weight: 700;
}

.text-card2 {
    color: #787885;
    font-size: 14px;
    display: flex;
    align-items: center;
    height: 50px;
    margin-bottom: 5px;
}

.star-block {
    display: flex;
}

.star-block p {
    margin-left: 10px;
}

.watch {
    background: url('img/heard.svg')left 10px center no-repeat;
    padding: 10px 10px 10px 40px;
    border-radius: 4px;
    border: 1px solid #9DC2FF;
    background-color: transparent;
    color: #2264D1;
    font-weight: 500;


}
.watch:hover{
    opacity: 0.6;
}



.bottom-part-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter {
    display: flex;
    padding: 15px 0;
    border: 1px solid #9DC2FF;
    box-sizing: border-box;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 32px;
    cursor: pointer;
}

.filter:hover {
    opacity: 0.6;
}

.filter p {
    color: #2264D1;
    font-size: 24px;
    font-weight: 700;
    font-family: Quicksand;
}

.filter span {
    width: 18px;
    height: 18px;
    padding: 0 35px;

}

.AllCategoris {
    display: flex;
    align-items: center;
    height: 40px;
}

.AllCategoris1 {
    display: flex;
    align-items: center;
    height: 56px;
}

.AllCategoris img {
    margin-right: 15px;
}

.AllCategoris1 img {
    margin-right: 15px;
}

.nameSelect {
    font-size: 16px;
    color: #19191D;
    font-weight: 400;
    display: flex;
}

.underName {
    font-size: 14px;
    color: #787885;
}

.listInFilter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.listInFilter li {
    height: 40px;
    padding-left: 25px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    color: #19191D;
}

.listInFilter button {
    width: 138px;
    height: 40px;
    border-color: transparent;
    background-color: #EBF2FF;
    color: #2264D1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 700;
    border-radius: 4px;
}

.close-block {
    box-sizing: border-box;
    width: 304px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
    border-radius: 4px;
    color: #19191D;
    margin-bottom: 24px;
    cursor: pointer;
    padding: 0 15px;
}

.close-block:hover {
    opacity: 0.6;
}

.open-block {
    background-color: #F7F7FA;
    border-radius: 4px;
    margin-bottom: 24px;
    padding-bottom: 10px;
}

.block-name {
    padding: 15px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #19191D;
    font-weight: 500;
    cursor: pointer;
}

.block-name:hover {
    opacity: 0.6;
}

.checkbox {
    padding: 10px 0 10px 20px;
}

.checkbox-square {
    margin-right: 15px;
    cursor: pointer;
}

.labelCheckbox {
    color: #19191D;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    cursor: pointer;
}

.checkbox input {
    border-color: black;
    width: 18px;
    height: 18px;
    background-color: #DADADA;
}

.checkbox {
    display: flex;
    align-items: center;
}

.mainUl {
    display: flex;
    flex-direction: column;
}

.AllCategorisUl {
    display: flex;
    flex-direction: column;
}

.nameSelectB {
    font-size: 16px;
    color: #19191D;
    font-weight: 500;
    display: flex;
}

.expend-button {
    background-color: #EBF2FF;
    border-color: transparent;
    color: #2264D1;
    font-weight: 700;
    font-size: 14px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
}

.expend-button:hover{
    opacity: 0.6;
}

.liButton {
    display: flex;
    justify-content: flex-start;
    padding-left: 30px;
    padding-bottom: 38px;
}

.blockPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blockNearPrice {
    width: 70px;
    height: 24px;
    background-color: #ECF7ED;
    border-radius: 4px;
    border-color: transparent;
    color: #37833B;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-weight: 400;
}

.sort-by::after {
    content: 'SORT BY';
    letter-spacing: 1.5px;
    font-weight: 500;
    top: -5px;
    left: 8px;
    height: 16px;
    padding: 0 3px;
    color: #787885;
    position: absolute;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    background: #fff;
}

.sort-by {
    position: relative;
}

.inputForEmail {
    color: #787885;
    font-size: 14px;
    background-color: transparent;
    border-color: transparent;
    outline: none;
}

.inputForEmail::placeholder {
    color: #787885;
    font-size: 14px;
    padding-left: 5px;
}

.arrow {
    margin-right: 10px;
}

.name {
    font-size: 16px;
    color: #19191D;
    font-weight: 500;
}

.container-element-filter {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 14px;
    flex-direction: column;
    display: flex;
    align-items: flex-start;

}

.block-select {
    margin-bottom: 16px;
}

.container-element-filter1 {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.container-element-filter2{
    box-sizing: border-box;
    width: 100%;
    padding: 10px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.container-element-filter1:hover{
    opacity: 0.6;
}

.filter-container {
    width: 100%;
}

.filter-container:last-child {
    padding-left: 15px;
}
/* .inner-list{
    padding: 7px 0;
} */
.blue-block{
    padding-left: 10px;
    margin-bottom: -10px;
}
.inner-list a span {
    font-weight: 400;
    color: #19191D;
    margin-left: 5px;
}

.show-more {
    width: 138px;
    height: 40px;
    background-color: #EBF2FF;
    border-radius: 4px;
    border-color: transparent;
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    align-items: center;
    font-family: Roboto;
    margin-left: 10px;
}

.show-more-text {
    color: #2264D1;
    font-weight: 700;
}

.show-more:hover{
    opacity: 0.6;
}

/* .main-container a:hover {
    opacity: 0.6
} */
.name:hover{
    opacity: 0.6;
}

.subcategory {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.little-textF2:hover {
    opacity: 0.6;
}