html * {
    margin: 0;
    padding: 0;
   
}
.wrapper{
    padding: 0 10%;
}
.header{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    /* background-color: yellow; */
    
}
.headerText1{
    font-size: 20px;
    color: #5A5B6A;
    font-family: Inter;
    margin-left: 1px;
    text-align: center;
    width: 220px;
    margin-right: -4px;
}
.headerText2{
    font-size: 20px;
    color: #5A5B6A;
    font-family: Inter;
    width: 107px;
    margin-right: 78px;
}
.headerAvatar{
    margin-left: 15px;
}
.header input{
    width: 576px;
    height: 48px;
    background-color: #EDEDF0;
    border-radius: 50px;
    padding: 0px 45px;
    border-color: transparent;
    font-size: 20px;
    outline: none;
    font-weight: 400;
}
.containerInp{
    position: relative;
}
input::placeholder {
    color: black;
    font-size: 20px;
  }
.headerLogo1{
    position: absolute;
    width: 17.5px;
    margin-top: 17px;
    margin-left: -655px;
}
.headerLogo2{
    position: absolute;
    width: 17.5px;
    margin-top: 17px;
    margin-left: -35px;
}
.headerText3{
    width: 210px;
    font-size: 20px;
    color: #2264D1;
    font-family: Inter;
    margin-left: 29px;
    margin-right: 124px;

}
.header button{
    width: 105px;
    height: 40px;
    border: 1px solid #9DC2FF;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #fff;
    color: #2264D1;
    font-size: 20px;
    font-weight: 700;
    margin-right: 12px;
}




.lineUnderHeader{
    width: 100%;
    height: 95px;
    display: flex;
    align-items: center;
}
.infoContainerElement{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: grey; */
    max-width: 150px;
    border-radius: 5px;
    padding: 3px;
    
}
.infoContainerElement:hover{
    background-color:  #EBF2FF;
}
.iconImg{
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
}

a{
    display: block;
    color: grey;
    text-decoration: none;
    font-size: 14px;
    font-family: Inter;
    /* margin-top: 5px; */
}
li{
    list-style: none;
    text-align: center;
    cursor: pointer;
}
ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
}



.mainContainer{
    width: 100%;
    padding-top: 2px;
    /* margin-top: 30px; */
    /* background-color: grey; */
    /* height: 1114px; */
    height: auto;
    display: flex;
}
.leftPart{
    width: 420px;
    height: 1612px;
    /* background-color: tomato; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}
.RightPart{
    width: 1114px;
    height: 1612px;
    /* background-color: turquoise; */
    /* border-left: 1px solid grey; */
    box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
}

.dropMenu1{
    width: 136px;
    height: 36px;
    border-radius: 3px;
    border-color: #5A5B6A;
    /* margin: 0 5px; */
    margin-right: 5px;
    font-size: 14px;
    padding: 5px;
}
.dropMenu2{
    min-width: 112px;
    height: 36px;
    border-radius: 3px;
    border-color: #5A5B6A;
    margin: 0 5px;
    font-size: 14px;
    padding: 5px;
}
.dropMenu3{
    min-width: 152px;
    height: 36px;
    border-radius: 3px;
    border-color: #5A5B6A;
    margin: 0 5px;
    font-size: 14px;
    padding: 5px;
}
.headetInMain{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.leftPartDromMenu{
    width: 480px;
    margin-left: 15px;
    /* background-color: grey; */
    display: flex;
    justify-content:space-around;
}
.RightPartDromMenu{
    width: 65%;
    /* background-color: yellow; */
    display: flex;
    justify-content: flex-end;
}

.choiseButton{
    width: 85px;
    height: 36px;
    border-radius: 4px;
    border-color: transparent;
    background-color: #EBF2FF;
    color:#5A5B6A;
}
.sec{
    margin-left: 35px;
    margin-right: 15px;
    display: flex;
}
.choiseButton2{
    width: 68px;
    height: 36px;
    border-radius: 4px;
    border-color: transparent;
    background-color: #EBF2FF;
    color:#5A5B6A;
}
.choiseButton:hover{
    background-color: #fff;
    color: #2979FF;
}
.choiseButton2:hover{
    background-color: #fff;
}
.choiseButton2:hover svg{
    fill: #2979FF;
}
.secondMenu{
    margin-top: 40px;
    margin-left: 15px;
}

.buttonList{
    display: flex;

}
.buttonFromList{
    height: 32px;
    border-radius: 99px;
    border-color: transparent;
    background-color: #EDEDF0;
    color: #4A4B57;
    padding: 0 15px;
    margin-right: 10px;
}
.buttonFromList:hover{
    background-color: #fff;
    color:black
}
.cardContainer{
    /* margin-left: 10px; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.card:hover{
    background-color: #fff;
    border:1px solid rgb(163, 163, 163);
    box-shadow: 0px 2px 4px rgba(59, 69, 123, 0.2), 0px 4px 8px rgba(92, 107, 192, 0.2);
}

.lastContainer{
    height: 156px;
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
}
.cardWidthInfo{
    /* margin-right: 20px; */
    width: 1114px;
    display: flex;
    justify-content: space-between;
}
.cardInfo{
    height: 156px;
    width: 361px;
    background-color: #EDEDF0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.firstText{
    font-size: 20px;
    font-weight: 700;
    font-family: Quicksand;
    margin: 5px 0;

}
.secondText{
    color:#5A5B6A;
    font-family: Inter;
    font-size: 14px;
}




footer{
    height: 292px;
    background-color: #F7F7FA;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* padding: 30px 10% 0 10%; */
}
.firstPartF{
    width:67% ;
    height: 150px;
    /* background-color: darwkgoldenrod; */
}
.secondPartF{
    height: 150px;
    width:30% ;
    /* background-color: darksalmon; */
    /* padding-left: 10px; */
}
.opacityP{
    font-size: 16px;
    color: #B1B1C3;
    font-family: Inter;
}
.qwerty{
    width: 1136px;
    display: flex;
    padding: 30px 10% 0 10%;

}
.littleTextF{
    font-size: 16px;
    font-family: Inter;
    color: #1F1F1F;
    margin-top: 25px;

}
.lastContF{
    display: flex;
    margin-top: 27px;
}
.miniCont1{
    width: 47%;
}
.boldText{
    font-size: 16px;
    font-weight: 700;
    font-family: Inter;
}
.greyText{
    font-size: 12px;
    font-family: Inter;
    color:#5A5B6A;
    margin-top: 5px;
}
.containerTextF{
    display: flex;
}
.littleTextF2{
    margin-right: 43px;
    margin-top: 25px;
    font-size: 16px;
    font-family: Inter;
    color: #1F1F1F;
}
.lastContF2{
    display: flex;
    margin-top: 27px; 
    /* justify-content: space-between; */
}
.miniCont1F{
    margin-right: 25px;
}
#footerButton{
    width: 166px;
    height: 40px;
    background-color: #EBF2FF;
    border-radius: 4px;
    border-color: transparent;
    color:#2264D1;
    font-weight: 700;
    margin: 0 20px 0 40px;
}
.lastContF2 img{
    margin: 0 10px;
}

.greyLineF{
    margin-top: 10px;
    width: 1920px;
    height: 50px;
    background-color:  #E6E6EA;
    display: flex;
    align-items: center;
   
}
.wrapperGreyLine{
    padding: 0 10% 0 590px;
    display: flex;
    align-items: center;
}
.firstBlockF{
    height: 24px;
    width: 30px;
    display: flex;
    align-items: center;
    border-right: 1px solid grey;
}
.secondBlockF{
    width: 340px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-right: 1px solid #D1D1E1;
}
.secondBlockF button{
    width: 120px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #9DC2FF;
    background-color: transparent;
    color:#2264D1;
}
.secondBlockF p{
    color:#787885;
    font-size: 14px;
    font-family: Inter;
}
.secondBlockF2{
    width: 340px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-right: 1px solid #D1D1E1;
}
.lastPartFooter{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.images{
    display: flex;
    width: 120px;
    justify-content: space-between;
}
.blockInBottomF{
    width:1140px ;
    padding: 0 10% 0 590px;
    display: flex;
    justify-content: space-between;
}
.blockTextBottom{
    width: 200px;
    display: flex;
    justify-content: space-between;
}
.blockInBottomF p{
    color:#B1B1C3;
    font-size: 12px;
}


.card{
    margin: 10px 0px;
    padding: 10px;
    width:258px ;
    height: 472px;
    /* border:1px solid rgb(163, 163, 163); */
    /* box-shadow: 0px 2px 4px rgba(59, 69, 123, 0.2), 0px 4px 8px rgba(92, 107, 192, 0.2); */
    border-radius: 8px;
    box-sizing: border-box;
}
.imageCard{
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: tomato; */
}
.textCard1{
    height: 90px;
    /* background-color: turquoise; */
    font-size: 16px;
    font-family: Inter;
    color:#19191D;
}
.price{
    font-size: 24px;
    font-family: Inter;
    font-weight: 700;
}
.textCard2{
    color:#787885;
    font-size: 14px;
    font-family: Inter;
    margin-top: 10px;
    display: flex;
    align-items: center;
    height: 50px;
    /* background-color: yellowgreen; */
}
.starBlock{
    display: flex;
}
.starBlock p{
margin-left: 10px;
}
.watch{
    width: 88px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #9DC2FF;
    background-color: transparent;
    color:#2264D1;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.bottomPartCard{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter{
    display: flex;
    width: 304px;
    height: 56px;
    border: 1px solid #9DC2FF;
    box-sizing: border-box;
    align-items: center;
    border-radius: 8px;
}
.filter p{
    color:#2264D1;
    font-size: 24px;
    font-weight: 700;
    font-family: Quicksand;
}
.filter img{
    width: 18px;
    height: 18px;
    margin:0 35px;

}

.AllCategoris{
    display: flex;
    margin-top: 50px;
    padding: 0 10px;
}
/* .AllCategoris img{
    margin-right: 15px;
}
.nameSelect{
    font-size: 16px;
    font-family: Inter;
    color: #19191D;
}
.underName{
    font-size: 14px;
    font-family: Inter;
    color: #787885;
}

.Electronics{
    display: flex;
    margin-top: 15px;
    margin-left: 3px;
    

}
.Electronics img{
    margin-right: 15px;
}
.CellPhones{
    display: flex;
    margin-top: 15px;
    margin-left: 6px;
    margin-bottom: 15px;
}

.listInFilter{
    margin-top: 10px;
    margin-left: 35px;
}
.listInFilter p{
    color:#19191D;
    font-family: Inter;
    font-size: 16px;
    margin-top: 10px;
}
.listInFilter button{
    background-color: #EBF2FF;
    width: 138px;
    height: 40px;
    color:#2264D1;
    border-color: transparent;
    border-radius: 4px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
} */
